.experience-language {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    img {
        filter: grayscale(100%);
    }

    .experience-unit {
        width: 300px;
        height: 30px;
        border-radius: 24px;
        border: 1px solid var(--text-secondary);
        
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .experience-measure {
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 999;

            border-radius: 24px;
            height: 30px;
            border: 1px solid  white;
            background: rgb(59, 59, 255);

            color: var(--text-primary);
            font-weight: 300;
            text-align: center;
            font-size: 12px;

            &.measure-1 {
                width: 40%;
            }

            &.measure-2 {
                width: 70%;
            }

            &.measure-3 {
                width: 100%;
            }
        }
    }
}